@charset "utf-8";


/* -----     キャラクターコンテンツ     ----- */
.character {
	display: -webkit-flex; display: flex;
	-webkit-align-items: center; align-items: center;
}
.charaImg {
	width: 530px;
}
.charaProf {
	width: 490px;
	margin: 0 20px 0 0;
	padding: 30px 30px 30px 40px;
}
.charaName {
}
/*.charaNameEn {
	margin: 10px 0 25px;
	font-size: 18rem;
	letter-spacing: 4px;
}*/
.charaCV {
	margin: 10px 0;
	font-size: 16rem;
}
.charaTxt {
	margin: 35px 10px 0 0;
	font-size: 17rem;
	line-height: 1.8;
}




/* ---------- media screen ---------- */
@media screen and (max-width: 768px) {

/* -----     キャラクターコンテンツ     ----- */
	.character {
		display: -webkit-flex; display: flex;
		-webkit-flex-wrap: wrap-reverse; flex-wrap: wrap-reverse;
	}
	.charaProf {
		width: 90%;
		padding: 10px;
		margin: auto;
	}
	.charaName {
		width: 100%;
		max-width: 400px;
	}
	/*.charaNameEn {
		font-size: 3vw;
	}*/
	.charaCV {
		font-size: 13rem;
	}
	.charaTxt {
		margin: 15px 0 0;
		font-size: 14rem;
	}
	.charaImg {
		width: 100%;
		max-width: 530px;
		margin: auto;
	}

}

@media screen and (max-width: 320px) {}



