@charset "utf-8";

/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-     Site Contents     -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/
body{
	font-weight: 400;
	color: #111111;
}
.bgFixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: url(/img/sidestory/castStaffBgSS.jpg) center/cover;
	z-index: -1;
}
.bgFixed.switching {
	background-image: url(/img/sidestory/noveltyTheaterBgSS.jpg);
}

/*          ページタイトル          */
.pageTitle {
	padding: 100px 0 60px;
	text-align: center;
}
.pageTitle.white {
	color: #FFF;
}
.pageTitleVE {
	position: relative;
	margin: 0 0 15px;
}
.titleEN {
	position: absolute;
	height: 1em;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	font-family: 'Merriweather', serif;
	font-size: 2.8rem;
	font-weight: 400;
	z-index: 1;
}
.titleJP {
	display: block;
	font-size: 1rem;
	font-weight: 400;
}

/*          コンテンツタイトル          */
.cttTitle {
	text-align: center;
	font-family: 'Merriweather', serif;
	font-size: 2.2rem;
	font-weight: 300;
}
.cttTitle.white {
	color: #FFF;
}
.cttAnchor {
	padding: 60px 0 0;
	margin: -60px 0 0;
}
.contentSS {
	padding: 0 0 120px;
}

.tkFr1, .tkFr1::after, .tkFr2, .tkFr2::after, .tkFr3, .tkFr3::after, .tkFr4, .tkFr4::after {
	position: absolute;
	color: #b7b8b3;
	background: transparent;
	border: .1em solid;
}
.tkFr1, .tkFr2, .tkFr3, .tkFr4 { width: 7em; height: 7em; font-size: 1rem; }
.tkFr1::after, .tkFr2::after, .tkFr3::after, .tkFr4::after { content: ""; width: 6.4em; height: 6.4em; }
.tkFr1, .tkFr1::after { border-bottom:0; border-right:0; }
.tkFr2, .tkFr2::after { border-bottom:0; border-left:0; }
.tkFr3, .tkFr3::after { border-top:0; border-left:0; }
.tkFr4, .tkFr4::after { border-top:0; border-right:0; }
.tkFr1 { left:0; top:0; }
.tkFr2 { right:0; top:0; }
.tkFr3 { right:0; bottom:0; }
.tkFr4 { left:0; bottom:0; }
.tkFr1::after { left:.4em; top:.4em; }
.tkFr2::after { right:.4em; top:.4em; }
.tkFr3::after { right:.4em; bottom:.4em; }
.tkFr4::after { left:.4em; bottom:.4em; }


/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-     メインビジュアルコンテンツ     -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/
.mainvisualWrap {
	padding: 90px 0 0;
	background: url(/img/sidestory/mainvisualBgSS.jpg) center/cover;
}
.mainvisualImage {
	text-align: center;
}
.mainvisualTopics {
	padding: 70px 0;
	text-align: center;
	background: rgba(0,0,0,.6);
}
.mainvisualTopics .list {
	display: -webkit-flex; display: flex;
	-webkit-justify-content: center; justify-content: center;
}
.mainvisualTopics .list li {
	margin: 0 15px;
}

/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-     ムービーコンテンツ     -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/
.movieWrap {
	position: relative;
	width: 100%;
	height: 600px;
	overflow: hidden;
}
#youtubeBgMovie {
	position: absolute;
	width: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	z-index: -1;
}
.movieWrap .trailerDot {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
}
.youtube {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	width: 960px;
	height: 402px;
	border: 1px solid #111111;
}
.youtube::after {
	width: 100px;
	height: 100px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	background-size: cover;
}

/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-     イントロダクションコンテンツ     -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/
.introWrap {
	background: url(/img/sidestory/introMusicBgSS.png);
}
.intro {
	text-align: center;
}

/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-     ストーリーコンテンツ     -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/
.storyWrap {
	background: no-repeat center/cover;
}
.story p {
	padding: 55px 0 0;
	text-align: center;
	font-size: 1.6rem;
	line-height: 1.6;
	color: #FFF;
}
.story p:first-child {
	padding: 0;
}

/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-     キャラクターコンテンツ     -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/
.characterWrap {
	background: url(/img/sidestory/charaBooksBgSS.png);
}
.character>ul {
	text-align: center;
}
.character>ul .text {
	padding: 15px 0 0;
	line-height: 1.7;
}
.character>ul .cv {
	font-size: 1.6rem;
}
.character>ul .profile {
	font-size: 1.7rem;
}
.character .one>li {
	padding: 60px 0 0;
}
.character .one>li:first-child {
	padding: 0;
}
.character .two {
	display: -webkit-flex; display: flex;
	-webkit-justify-content: space-between;justify-content: space-between;
	-webkit-flex-wrap: wrap;flex-wrap: wrap;
	width: 1000px;
	margin: 90px auto 0;
}
.character .two>li {
	margin: 60px 0 0;
}

/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-     キャスト・スタッフコンテンツ     -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/
.castStaff ul {
	display: -webkit-flex; display: flex;
	-webkit-justify-content: center; justify-content: center;
	-webkit-align-items: center; align-items: center;
	color: #FFF;
}
.castStaff li {
	display: -webkit-flex; display: flex;
	-webkit-justify-content: center; justify-content: center;
	-webkit-align-items: center; align-items: center;
	margin: 45px 0 0;
	padding: 0 1.5em 0;
}
.castStaff li .position {
	padding: 0 1em 0 0;
	font-size: 1.3rem;
}
.castStaff li .name {
	font-size: 1.8rem;
}
.castStaff li .name .small {
	font-size: 1.2rem;
}
.staff {
	margin: 120px 0 0;
}

/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-     Blu-ray&DVDコンテンツ     -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/
.bddvd {
	width: 1000px;
    margin: auto;
}
.bddvd .image {
    width: 450px;
	padding-left: 50px;
}
.bddvd .image .img01 {
    padding-bottom: 30px;
}
.goodsbddvd {
	display: -webkit-flex;
    display: flex;
}
.bddvd .info {
	margin: 0 0 0 40px;
    width: 470px;
}
.goodsbddvd .desc {
    padding: 45px 0 0;
    font-size: 1.5rem;
}
.bddvd_subhd_box {
	padding: 45px 0 0;
}
.bddvd_subhd {
	padding: 0 0 5px;
    font-size: 1.8rem;
    color: #9a8a3c;
}
.bddvd_subhd_box .list dt {
    line-height: 30px;
	font-size: 1.5rem;
	margin-left: 1.0em;
	text-indent: -1.0em;
}
.bddvd_subhd_box .list dt:first-child {
    padding: 0;
}
.bddvd_subhd_box .list dd {
    padding-left: 1em;
}
.bddvd_kome {
	padding-top: 60px;
	font-size: 1.5rem;
}
.bddvdPriv {
    margin: 90px 50px;
}
.bddvdPrivBox {
	font-size: 1.5rem;
}
.bddvdPrivBox .list>li {
    position: relative;
    width: 380px;
    height: auto;
    padding: 25px 30px;
    margin: 45px 0 0;
    background: #f3f4f0;
	display: inline-table;
}
.bddvdPrivBox .list .image {
    width: 320px;
    padding: 15px 0 0;
}
.bddvdPrivBox .list>li:first-child {
    margin: 0;
}
.bddvdPrivBox .list>li:nth-child(2) {
    margin: 0;
}
.bddvdPrivBox .list>li:nth-child(2n) {
    margin-left: 45px;
}
.bddvdPrivBox .list li .text {
	position: relative;
	z-index: 2;
}
.bddvdPriv_titlecolor {
    color: #9a8a3c;
}
.bddvdPriv_titlecolor a {
    color: #9a8a3c;
}
.bddvd_subhd_box .list dt.bddvd_movie {
	position: relative;
	margin-top: 1em;
	margin-left: 0;
	text-indent: 0;
}
.bddvd_movie .youtube {
	display: block;
	position: relative;
	width: 100%;
	height: auto;
}
.bddvd_movie .youtube::after {
	width: 75px;
	height: 75px;
}

/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-     音楽コンテンツ     -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/
.musicWrap {
	background: url(/img/sidestory/introMusicBgSS.png);
}
.music {
	width: 910px;
	margin: auto;
}
.musicData {
	display: -webkit-flex; display: flex;
}
.musicImg li {
	margin: 30px 0 0;
}
.musicImg li:first-child {
	margin: 0;
}
.musicImg li .text {
	padding: 10px 0 0;
}
.musicOverv {
	padding:0 0 0 40px;
	font-size: 1.5rem;
}
.musicInfo {
	margin: 15px 0 0;
}
.musicOverv .musicInfo:first-of-type {
	margin: 30px 0 0;
}
.musicIndex {
	padding: 30px 0 0;
}
.musicIndex .list dt {
	padding: 10px 0 0;
}
.musicIndex .list dt:first-child {
	padding: 0;
}
.musicIndex .list dd {
	padding-left: 1em;
}
.musicPriv {
	margin: 90px 0 0;
}
.musicPrivBox {
	display: -webkit-flex; display: flex;
	font-size: 1.5rem;
}
.musicPrivIllust {
	padding: 0 0 0 40px;
}
.musicPrivList .list {
	padding: 25px 0 0;
}
.musicPrivBox .list>li {
	position: relative;
	width: 380px;
	height: auto;
	padding: 25px 30px;
	margin: 45px 0 0;
	background: #f3f4f0;
}
.musicPrivBox .list>li:first-child {
	margin: 0;
}
.musicPrivBox .list .image {
	width: 320px;
	padding: 15px 0 0;
}
.musicPrivBox .list .image.high {
	width: 250px;
}
.musicPrivNote {
	padding: 45px 0 0 1em;
	text-indent: -1em;
}
.music .subhd {
	padding: 0 0 5px;
	font-size: 1.8rem;
	color: #9a8a3c;
}
/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-     グッズコンテンツ     -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/
.goodsWrap {
	background: url(/img/sidestory/charaBooksBgSS.png);
}
.goods {
	width: 860px;
	margin: auto;
}
.goodsPamph {
	display: -webkit-flex; display: flex;
}
.goodsPamph .image {
	width: 450px;
}
.goodsPamph .info {
	margin: 0 0 0 40px;
	width: 370px;
}
.goodsPamph .desc {
	padding: 40px 0 0;
	font-size: 1.5rem;
}
.goodsPamph .detail {
	padding: 30px 0 0;
	line-height: 1.6;
}
.goodsPamph .detail .bw {
	color: #9a8a3c;
}
.goodsOrigin {
	padding: 90px 0 0;
}
.goodsNote {
	margin: 30px 0 0;
	padding-left: 1em;
	text-indent: -1em;
	line-height: 1.6;
}
.goodsOriginList {
	display: -webkit-flex; display: flex;
	-webkit-justify-content: space-between; justify-content: space-between;
	-webkit-flex-wrap: wrap; flex-wrap: wrap;
}
.goodsOriginList>li {
	width: 406px;
	margin: 45px 0 0;
}
.goodsOriginList .info {
	padding: 15px 0 0;
}
.goodsOriginList .name {
	padding: 10px 0 0;
	font-size: 2.2rem;
}
.goodsOriginList .detail {
	padding: 15px 0 0;
}
.goods .count3 {
	padding-left: 3em;
	text-indent: -3em;
	word-break: break-all;
}
.goodsPamph .detail a, .goodsNote a {
	color: #9a8a3c;
}
.goodsPamph .detail a:hover, .goodsNote a:hover {
	text-decoration: underline;
}

/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-     入場者プレゼント・劇場一覧コンテンツ     -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/

/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-     入場者プレゼントコンテンツ     -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/
.noveltyBox {
	display: -webkit-flex; display: flex;
	-webkit-justify-content: space-between; justify-content: space-between;
	-webkit-align-items: flex-start; align-items: flex-start;
	width: 1000px;
	margin: 50px auto 0;
	padding: 35px;
	background: rgba(255,255,255,.9)
}
.noveltyBox.novelty01 {
	margin: auto;
}
.noveltyImage {
	position: relative;
	width: 465px;
}
.noveltyDetail {
	padding: 10px 0 0;
	width: 420px;
}
.noveltyNote {
	padding: 50px 0 0 1em;
	font-size: 1.3rem;
	line-height: 1.6;
	text-indent: -1em;
}
.noveltyNote .red {
	color: #c12727;
}

/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-     劇場一覧コンテンツ     -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/
.theaterBox {
	width: 1000px;
	margin: auto;
	padding: 70px 60px;
	background: rgba(255,255,255,.9)
}
.theaterText {
	text-align: center;
}
.theaterNote {
	padding: 50px 0 0 0;
	text-align: center;
	font-size: 1.3rem;
	line-height: 1.6;
}
.theaterNote .pd {
	padding: 20px 0 0 0;
}
/* 劇場アンカー */
.theaterAnchor {
	display: -webkit-flex; display: flex;
	-webkit-align-items: stretch; align-items: stretch;
	-webkit-justify-content: space-between; justify-content: space-between;
	padding: 50px 0 0;
}
.theaterAnchor a {
	display: block;
	width: 8em;
	padding: 10px 5px;
	margin: 0 0 30px;
	font-size: 1.6rem;
	font-weight: 500;
	text-align: center;
	color: #FFF;
	background: #1b2418;
	-webkit-transition: .3s ease-out; transition: .3s ease-out;
}
.theaterAnchor a:hover {
	color: #d6c886;
	text-decoration: none;
}
/* 劇場一覧 */
.areaList {
	margin: -60px 0 0;
	padding: 120px 0 0;
}
.areaList>header {
	padding: 0 0 10px;
	color: #9a8a3c;
	text-align: center;
	font-size: 1.8rem;
	font-weight: bold;
}
.theaterList>li {
	display: -webkit-flex; display: flex;
	-webkit-align-items: stretch; align-items: stretch;
	border-bottom: 1px #C8D1D1 solid;
	-webkit-transition: .7s ease-out; transition: .7s ease-out;
}
.theaterList>li.listHeader {
	color: #FFF;
	background: #1b2418;
}
.theaterList>li:not(.listHeader):hover {
	background: #FFF;
}
.theaterList>li>span {
	padding: 15px 5px;
}
.theaterList>li.listHeader>span {
	font-size: 1.6rem;
	font-weight: 500;
}
.theaterList .new {
	font-size: 1.2rem;
	padding-left: 0.5em;
	color: #6a6a6a;
}
/* 地名・劇場名・電話番号・上映期間の場合 */
.theaterList .pre {
	width: 15%;
	text-align: center;
}
.theaterList .name {
	width: 50%;
}
.theaterList .name a {
	color: #9a8a3c;
}
.theaterList .tel {
	width: 20%;
}
.theaterList .sc {
	width: 15%;
	text-align: center;
}
/* 地名・劇場名・電話番号のみの場合 */
/*.theaterList .pre {
	width: 25%;
	text-align: center;
}
.theaterList .name {
	width: 60%;
}
.theaterList .name a {
	color: #9a8a3c;
}
.theaterList .tel {
	width: 15%;
}*/
/* 地名・劇場名・電話番号・上映期間・備考の場合 */
/*.theaterList .pre {
	width: 10%;
	text-align: center;
}
.theaterList .name {
	width: 35%;
}
.theaterList .tel {
	width: 20%;
}
.theaterList .sc {
	width: 20%;
	text-align: center;
}
.theaterList .add1 {
	width: 15%;
}
*/
.eigakanLink {
	margin: 0 auto;
	text-align: center;
}

/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-     書籍情報コンテンツ     -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/
.booksWrap {
	background: url(/img/sidestory/charaBooksBgSS.png);
}
.booksList {
	display: -webkit-flex; display: flex;
	-webkit-justify-content: center; justify-content: center;
}
.booksList li {
	width: 220px;
	margin: 0 22.5px;
}
.booksList li p {
	padding: 20px 0 0;
	font-size: 1.2rem;
}
.booksSale {
	padding: 60px 0 0;
	text-align: center;
}
.booksLink {
	padding: 60px 0 0;
	text-align: center;
}
.booksLink a img {
	padding: 0 0 20px;
}


/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-     Header Contents     -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/
.headerWrapSS {
	position: fixed;
	width: 100%;
	height: 90px;
	background: #1b2418;
	z-index: 99;
}
.navigationWrapSS {
	display: -webkit-flex; display: flex;
	-webkit-justify-content: center; justify-content: center;
	-webkit-align-items: center; align-items: center;
	width: 100%;
	min-width: 720px;
	height: 100%;
	font-family: 'Merriweather', serif;
	font-size: 1.47rem;
}
.navigationWrapSS .top {
	margin: 0 15px 0 0;
}
.navigationWrapSS a {
	color: #f3f8df;
	-webkit-transition: .5s ease-out; transition: .5s ease-out;
}
.navigationWrapSS a:hover {
	color: #9a8a3c;
	text-decoration: none;
}
.navigationListSS {
	display: -webkit-flex; display: flex;
	-webkit-flex-wrap: wrap;flex-wrap: wrap;
	-webkit-justify-content: center;justify-content: center;
	width: 880px;
}
.navigationListSS > li {
	margin: 5px 15px;
	letter-spacing: 1.2px;
}
.navigationListSS .jp {
	font-family: 'Noto Sans JP','游ゴシック体','游ゴシック','Yu Gothic','メイリオ',Meiryo,sans-serif;
}

/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-     Footer Contents     -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/
.footerWrap {
	background: #1b2418;
}
.socialList > li > a {
	color: #FFF;
}
.copyright {
	color: #FFF;
}

/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-     lower Contents     -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/
.lowerBox {
	padding: 90px 0 0;
}

/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-    スペシャルコンテンツ     -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/
.dir-sidestory-special .bgFixed {
	background-image: url(/img/sidestory/noveltyTheaterBgSS.jpg);
}
#eventReport {
	padding: 90px 0 120px;
	margin: -90px 0 0;
}
.eventReport {
	width: 1000px;
	padding: 60px 0;
	margin: 0 auto;
	background: rgba(255,255,255,.9);
}
.eventReportBox {
	padding: 0 120px;
}
.eventReport .title {
	position: relative;
	padding: 0 0 15px;
	margin: 0 0 10px;
	text-align: center;
	font-size: 2.8rem;
	font-weight: normal;
}
.eventReport .title::after {
	content: '';
	position: absolute;
	display: inline-block;
	top: auto;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 810px;
	height: 1px;
	background-color: #c2c4be;
}
.eventReport .image {
	padding: 25px 0 0;
}
.eventReport .text {
	padding: 25px 0 0;
	font-size: 1.5rem;
	line-height: 1.6;
}
.eventReport .text02 {
	padding: 50px 0 0;
}

/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-     Media Screen     -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/
/*          SP          */
@media screen and (max-width:767px) {
/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-     Site Contents     -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/
/*          ページタイトル          */
	.pageTitle {
		padding: 80px 0 40px;
	}
	.titleEN {
		font-size: 2rem;
	}
	.titleViolet {
		display: block;
		width: 100%;
		max-width: 80%;
		margin: auto;
	}
	.pageTitleVE {
		margin: 0 0 10px;
	}
	.titleJP {
		font-size: .8rem;
	}
	
	.tkFr1, .tkFr2, .tkFr3, .tkFr4 {width:4em;height:4em;}
	.tkFr1::after, .tkFr2::after, .tkFr3::after, .tkFr4::after {width:3.6em;height:3.6em;}
	.tkFr1::after {left:.2em;top:.2em;}
	.tkFr2::after { right:.2em; top:.2em; }
	.tkFr3::after { right:.2em; bottom:.2em; }
	.tkFr4::after { left:.2em; bottom:.2em; }
	
	.contentSS {
		padding: 0 0 100px;
	}
	
	/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-     メインビジュアルコンテンツ     -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/
	.mainvisualWrap {
		padding: 40px 0 0;
		background: none;
	}
	.mainvisualTopics {
		padding: 15px 0;
		background: url(/img/sidestory/charaBooksBgSS.png);
	}
	.mainvisualTopics a {
		display: block;
		width: 90%;
		margin: 0 auto;
	}
	.mainvisualTopics .list {
		-webkit-flex-wrap: wrap; flex-wrap: wrap;
	}
	.mainvisualTopics .list li {
		margin: 10px 0 0;
	}
	.mainvisualTopics .list li:first-child {
		margin: 0;
	}
	
	/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-     ムービーコンテンツ     -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/
	.movieWrap {
		height: auto;
		background: url(/img/sidestory/trailerSS.jpg) center/cover;
	}
	.movieWrap::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,.5);
	}
	.youtube {
		position: relative;
		width: 90%;
		height: auto;
		margin: 20px auto;
	}
	.youtube::after {
		background-size: 50%;
	}
	/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-     イントロダクションコンテンツ     -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/
	.introWrap {
		background-size: 24%;
	}
	.intro {
		width: 90%;
		max-width: 600px;
		margin: auto;
	}
	/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-     ストーリーコンテンツ     -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/
	.storyWrap {
		background-image: url(/img/sidestory/storyBgSS_sp.jpg);
	}
	.story {
		width: 90%;
		max-width: 600px;
		margin: auto;
	}
	.story p {
		padding: 30px 0 0;
		font-size: 1.3rem;
	}
	
	/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-     キャラクターコンテンツ     -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/
	.characterWrap {
		background-size: 24%;
	}
	.character {
		width: 90%;
		max-width: 600px;
		margin: auto;
	}
	.character>ul .text {
		padding: 5px 10px 0;
	}
	.character>ul .cv {
		font-size: 1.2rem;
	}
	.character>ul .profile {
		font-size: 1.3rem;
	}
	.character .one > li {
		padding: 40px 0 0;
	}
	.character .two {
		display: block;
		width: 75%;
		margin: 60px auto 0;
	}
	.character .two > li {
		margin: 40px 0 0;
	}
	
/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-     キャスト・スタッフコンテンツ     -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/
	.castStaff {
		width: 90%;
		max-width: 600px;
		margin: auto;
	}
	.castStaff .cast ul {
		display: block;
	}
	.castStaff li {
		margin: 25px 0 0;
		padding: 0 1em 0;
	}
	.castStaff li .position {
		padding: 0 1em 0 0;
		font-size: .9rem;
	}
	.castStaff li .name {
		font-size: 1.1rem;
	}
	.castStaff li .name .small {
		font-size: .8rem;
	}
	.staff {
		margin: 50px 0 0;
	}
	/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-     Blu-ray&DVDコンテンツ     -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/
	.bddvd {
    	width: 85%;
    	max-width: 600px;
	}
	.goodsbddvd {
    	display: block;
	}
	.bddvd .image {
     	width: 100%; 
     	padding-left: 0; 
	}
	.bddvd .info {
    	margin: 0;
    	width: 100%;
	}
	.bddvd_subhd_box {
    	padding: 25px 0 0;
	}
	.goodsbddvd .desc {
    	padding: 25px 0 0;
    	font-size: 1.0rem;
    	text-align: center;
	}
	.bddvd_subhd_box .list dt {
    	line-height: 20px;
    	font-size: 1.0rem;
	}
	.bddvdNameSS {
		padding: 30px 15px 0;
	}
	.bddvd_subhd {
    	font-size: 1.5rem;
	}
	.bddvd_kome {
    	padding-top: 30px;
    	font-size: .9rem;
	}
	.bddvdPriv {
    	margin: 50px 0 0;
	}
	.bddvdPrivBox {
    	display: block;
    	font-size: 1.2rem;
	}
	.bddvdPrivBox .list>li {
    	width: 100%;
    	height: auto;
    	padding: 17.5px 15px;
    	margin: 20px auto 0;
		display: block;
	}
	.bddvdPrivBox .list .image {
		width: 100%;
    	padding: 15px 0 0;
	}
	.bddvdPrivBox .list>li:first-child {
   		margin: 0;
	}
	.bddvdPrivBox .list>li:nth-child(2) {
    	margin: 25px 0 0;;
	}
	.bddvdPrivBox .list>li:nth-child(2n) {
    	margin-left: 0;
	}
	.bddvd_movie .youtube {
		margin: 0 auto;
	}
	.bddvd_movie .youtube::after {
		width: 100px;
		height: 100px;
	}
	
	/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-     音楽コンテンツ     -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/
	.musicWrap {
		background-size: 24%;
	}
	.music {
		width: 85%;
		max-width: 600px;
	}
	.musicData {
		display: block;
	}
	.musicImg li .text {
		font-size: 1rem;
	}
	.musicOverv {
		padding: 30px 0 0;
		font-size: 1.2rem;
	}
	.musicTitle {
		width: 85%;
		margin: auto;
	}
	.musicPriv {
		margin: 50px 0 0;
	}
	.musicPrivBox {
		display: block;
		font-size: 1.2rem;
	}
	.musicPrivIllust {
		padding: 30px 0 0;
	}
	.musicPrivList .list {
		padding: 25px 0 0;
	}
	.musicPrivBox .list>li {
		width: 100%;
		height: auto;
		padding: 17.5px 15px;
		margin: 20px auto 0;
	}
	.musicPrivBox .list>li:first-child {
		margin: 0 auto;
	}
	.musicPrivBox .list .image {
		width: 85%;
		padding: 10px 0 0;
	}
	.musicPrivBox .list .image.high {
		width: 60%;
	}
	.musicPrivNote {
		padding: 25px 0 0 1em;
		font-size: .9rem;
	}
	.music .subhd {
		font-size: 1.5rem;
	}
	
	/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-     グッズコンテンツ     -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/
	.goodsWrap {
		background-size: 24%;
	}
	.goods {
		width: 85%;
		max-width: 600px;
	}
	.goodsPamph {
		display: block;
	}
	.goodsPamph .image {
		width: 100%;
		margin: auto;
	}
	.goodsPamph .info {
		width: 100%;
		margin: 20px 0 0;
	}
	.goodsPamph .name {
		text-align: center;
	}
	.goodsPamph .desc {
		padding: 20px 0 0;
		font-size: 1.2rem;
	}
	.goodsPamph .detail {
		padding: 30px 0 0;
		font-size: 1.1rem;
	}
	.goodsOrigin {
		padding: 60px 0 0;
	}
	.goodsOrigin .subhd {
		text-align: center;
	}
	.goodsNote {
		margin: 20px 0 0;
		font-size: .9rem;
	}
	.goodsOriginList {
		display: block;
	}
	.goodsOriginList>li {
		width: 100%;
		margin: 30px 0 0;
	}
	.goodsOriginList .info {
		padding: 10px 0 0;
	}
	.goodsOriginList .work {
		font-size: .9rem;
	}
	.goodsOriginList .name {
		padding: 10px 0 0;
		font-size: 1.7rem;
	}
	.goodsOriginList .detail {
		padding: 10px 0 0;
		font-size: 1.1rem;

	}

	/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-     入場者プレゼント・劇場一覧コンテンツ     -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/

	/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-     入場者プレゼントコンテンツ     -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/
	.novelty {
		width: 90%;
		max-width: 600px;
		margin: auto;
	}
	.noveltyBox {
		flex-direction: column-reverse;
		width: 100%;
		padding: 35px 15px;
	}
	.noveltyImage {
		width: 100%;
		margin: 25px 0 0;
	}
	.noveltyDetail {
		padding: 10px 0 0;
		width: 100%;
	}
	.noveltyNote {
		padding: 25px 0 0 1em;
		font-size: .9rem;
	}

	/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-     劇場一覧コンテンツ     -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/
	.theaterWrap .pageTitle {
		padding-top: 0;
	}
	.theater {
		width: 90%;
		max-width: 600px;
		margin: auto;
	}
	.theaterBox {
		width: 100%;
		padding: 40px 10px;
	}
	.theaterText {
		width: 85%;
		margin: auto;
	}
	.theaterNote {
		padding: 35px 0 0 0;
		font-size: .9rem;
		text-align: left;
	}
	.theaterNote .pd {
		padding: 15px 0 0 0;
	}
	/*          劇場トピックス          */
	.theaterTopics {
		width: 100%;
		margin: 0 auto;
		padding: 40px 20px;
	}
	.theaterTopicsTxt {
		font-size: 1.4rem;
		margin: 30px 0 0;
	}
/*          劇場アンカー          */
	.theaterAnchor {
		padding: 35px 0 0;
		-webkit-flex-wrap: wrap; flex-wrap: wrap;
	}
	.theaterAnchor>li {
		width: 47%;
	}
	.theaterAnchor a {
		width: 100%;
		margin: 0 0 13%;
		font-size: 1.4rem;
	}
/*          劇場一覧          */
	.areaList {
		margin: -40px 0 0;
		padding: 90px 0 0;
	}
	.areaList>header {
		font-size: 1.6rem;
	}
	.theaterList>li {
		-webkit-align-items: center; align-items: center;
	}
	.theaterList>li.listHeader>span {
		font-size: 1.3rem;
	}
	.theaterList .new {
		font-size: 1rem;
	}
	.theaterList>li.listHeader>.tel {
		display: none;
	}
	/*.theaterList .tel {
		padding: 15px 12px;
		text-align: center;
	}*/
	.theaterList .pre {
		width: 15%;
	}
	.theaterList .name {
		width: 55%;
	}
	.theaterList .tel {
		width: 10%;
		text-align: center;
	}
	.theaterList .sc {
		width: 20%;
	}
	
	/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-     書籍情報コンテンツ     -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/
	.booksWrap {
		background-size: 24%;
	}
	.books {
		width: 90%;
		max-width: 600px;
		margin: auto;
	}
	.booksList {
		-webkit-flex-wrap: wrap; flex-wrap: wrap;
	}
	.booksList li {
		width: 46%;
		margin: 0 0 20px;
	}
	.booksList li:nth-of-type(even) {
		margin-left: 15px;
	}
	.booksList li p {
		padding: 10px 0 0;
		font-size: .9rem;
	}
	.booksSale {
		padding: 15px 0 0;
	}
	.booksLink {
		padding: 30px 0 0;
		font-size: 1rem;
	}
	
	
	/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-     Header Contents     -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/
	.headerWrapSS {
		width: 100%;
		height: 40px;
	}
	.navigationWrapSS {
		-webkit-justify-content: flex-end; justify-content: flex-end;
		width: 90%;
		min-width: unset;
		height: 100%;
		margin: auto;
		font-size: 1.3rem;
	}
	.navigationWrapSS .top {
		margin: 0 25px 0 0;
	}
	.navigationWrapSS a {
		color: #f3f8df;
		-webkit-transition: .3s ease-out; transition: .3s ease-out;
	}
	.navigationWrapSS a:hover {
		color: #9a8a3c;
		text-decoration: none;
	}
	.navigationBtnSS {
		color: #f3f8df;
		cursor: pointer;
		-webkit-transition: .3s ease-out; transition: .3s ease-out;
	}
	.navigationBtnSS.show {
		color: #9a8a3c;
		text-decoration: none;
	}
	.navigationBtnSS .triangle {
		display: inline-block;
		margin: 0 0 0 5px;
		border-top: .5rem solid #f3f8df;
		border-right: .5rem solid transparent;
		border-left: .5rem solid transparent;
		vertical-align: middle;
		-webkit-transition: .3s ease-out; transition: .3s ease-out;
	}
	.navigationBtnSS.show .triangle {
		border-top: .5rem solid #9a8a3c;
	}
	.navClose {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #111111;
		opacity: 0;
		visibility: hidden;
		z-index: 90;
		-webkit-transition: .3s ease-out; transition: .3s ease-out;
	}
	.navClose.show {
		opacity: .6;
		visibility: visible;
	}
	.navigationListSSBox {
		position: fixed;
		top:40px;
		left: 0;
		width: 100%;
		height: auto;
		background: #1b2418;
		overflow: auto;
		opacity: 0;
		visibility: hidden;
		z-index: 99;
		-webkit-transition: .3s ease-out; transition: .3s ease-out;
	}
	.navigationListSSBox.show {
		opacity: 1;
		visibility: visible;
	}
	.navigationListSS {
		-webkit-justify-content: space-between;justify-content: space-between;
		-webkit-flex-wrap: wrap;flex-wrap: wrap;
		width: 70%;
		margin: 10px auto 0;
	}
	.navigationListSS > li {
		width: 46%;
		margin: 10px 0;
		text-align: center;
		letter-spacing: 1px;
	}
	.navigationListSSBox .image a {
		display: block;
		width: 55%;
		margin: 10px auto 20px;
	}
	
	/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-     lower Contents     -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/
	.lowerBox {
		padding: 40px 0 0;
	}

	/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-    スペシャルコンテンツ     -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/
	#eventReport {
		padding: 40px 0 100px;
		margin: -40px 0 0;
	}
	.eventReport {
		width: 90%;
		max-width: 600px;
		padding: 50px 0;
	}
	.eventReportBox {
		padding: 0 15px;
	}
	.eventReport .title {
		padding: 0 0 15px;
		margin: 0 0 10px;
		font-size: 1.7rem;
	}
	.eventReport .title::after {
		width: 95%;
	}
	.eventReport .text {
		font-size: 1.2rem;
	}
	
	
}

/*          PC          */
@media screen and (min-width:768px) {
/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-     ストーリーコンテンツ     -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/
	.storyWrap {
		background-image: url(/img/sidestory/storyBgSS.jpg);
	}
}















