@charset "utf-8";


/* -----     ミュージックコンテンツ     ----- */
/*ミュージック  サブナビゲーション*/
.musicNavi li {
	width: 192px;
}

.music article {
	text-align: center;
}
.musicSale img {
	margin: 0 0 60px 0;
}
.musicHeader img {
	width: 340px;
	margin: 0 0 15px 0;
}
.longJacket {
	display: none;
}
.musicJacket, .musicSale2 img {margin: 0 0 35px 0;}
.OPEDContent {
	display: flex;
	justify-content: center;
	margin: 0 0 80px 0;
}
.OPEDtitle img {
	margin: 20px 0;
	width: 260px;
}
.musicListTitle {
	width: 640px;
	margin:0 auto;
	text-align: left;
	font-size: 16rem;
}
.musicListTitle p {
	padding: 0 0 0 12px;
	margin: 0 0 5px 0;
	color: #fffeec;
	background: #b49258;
	text-align: left;
}
.musicDetail {
	font-size: 15rem;
	letter-spacing: 1px;
}
.musicTitleTxt {
	margin: 0 0 30px 0;
	font-size: 22rem;
}
.musicArtistTxt {
	margin: 0 0 35px 0;
	font-size: 18rem;
}
.musicNumber {
	margin: 0 0 25px 0;
	font-size: 18rem;
}
.musicNumber2 {
	font-size: 18rem;
}
.musicList {
	padding: 0 30px;
}
.musicList dt {
	color:#fffeec;
	background-color: #b49258;
	margin: 10px 0;
	padding: 1px 1em;
}
.musicList dd {
	padding: 0 1em;
}
.musicIndex {
	width: 640px;
	margin:0 auto;
	text-align: left;
	font-size: 16rem;
	line-height: 1.8;
}
.musicIndex dl {
	margin: 0 0 30px 0;
}
.musicIndex dd {
	padding: 0 0 0 15px;
}
.musicList2 {
	display: flex;
}
.musicListTxt {
	padding: 0 14px 15px ;
	letter-spacing: 1px;
	line-height: 1.8;
	word-break: normal;
}
.musicListTxt dl {
	margin:0 0 30px 0;
}
.musicListTxt dt {
	font-weight: bold;
	margin-bottom: 10px;
}
.musicListTxt dd {
	margin-bottom: 15px;
	font-size: 14px;
	line-height: 1;
}
.musicListTxt2 {
	padding: 0 20px;
	letter-spacing: 1px;
	line-height: 1.8;
	word-break: normal;
}
.musicListTxt2 dl {
	margin:0 0 30px 0;
}
.musicListTxt2 dt {
	font-size: 14px;
}
.musicListTxt2 dd {
	padding: 0 0 0 1.9em;
	margin-bottom: 15px;
	font-size: 14px;
	line-height: 1;
}
.mvMovieList {
	margin: 0 auto 60px;
}
.mvMovieList>a {
	position: relative;
}
.mvMovieList>a::before {
	content: "";
	position: absolute;
	width: 120px;
	height: 120px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	background-color: rgba(180, 131, 47, .5);
	border-radius: 50%;
	z-index: 2;
}
.mvMovieList>a::after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 8px;
	margin: auto;
	border-style: solid;
	border-width: 22px 0 22px 34px;
	border-color: transparent;
	border-left-color: #FFF;
	z-index: 3;
}
.mvMovieList>a.pc {
	width: 760px;
	height: 428px;
	overflow: hidden;
	margin: 0 auto;
}
.mvMovieList p {
	margin: 10px 0 0 0;
	font-size: 16rem;
	letter-spacing: 0.1rem;
}


/* ---------- media screen ---------- */
@media screen and (max-width: 768px) {

/* -----     ミュージックコンテンツ     ----- */
/*ミュージック  サブナビゲーション*/
	.musicNavi li {
		width: 48%;
	}
	.musicSale img {
		width: 85%;
		margin: 0 0 40px 0;
	}
	.musicSale2 img {
		width: 85%;
	}
	.musicHeader img {
		width: 85%;
	}
	.longJacket {
		display: block;
		width: 100%;
		margin: 0 0 30px 0;
	}
	.OPEDContent {
		display: block;
		padding: 0 1em;
	}
	.OPEDtitle img {
		width: 50%;
	}
	.musicData>img, .musicJacket>img {
		width: 70%;
	}
	.musicDataTxt {
		padding: 0 1em;
	}
	.musicDetail {
		letter-spacing: .05em;
		margin: 0 0 60px 0;
		display: block;
	}
	.musicNumber {
		margin: 0 0 15px;
	}
	.musicList {
		padding: 0;
		text-align: left;
	}
	.musicList2 {
		display: block;
	}
	.musicIndex {
		width: 100%;
	}
	.musicListTitle {
		width: 100%;
	}
	.mvMovieList {
		padding: 0 1em;
	}
	.mvMovieList>a::before {
		width: 80px;
		height: 80px;
	}
	.mvMovieList>a::after {
		border-width: 16px 0 16px 28px;
	}
}

@media screen and (max-width: 320px) {}



