@charset "utf-8";


/* -----     スタッフ＆キャストコンテンツ     ----- */
.staffcast {
	display: -webkit-flex; display: flex;
	-webkit-align-items: flex-start; align-items: flex-start;
}
.staffContent, .castContent {
	width: 500px;
}
.staffcastList {
	text-align: center;
}
.staffcastList dt {
	padding: 40px 0 0;
	color: #b4832f;
	font-size: 13rem;
}
.staffcastList dt a {
	color: #b4832f;
}
.staffcastList dt a:hover {
	text-decoration: underline;
}
.staffcastList dt:first-child {
	padding: 0;
}
.staffcastList dd {
	font-size: 18rem;
}
.staffcastList dd span {
	font-size: 15rem;
}



/* ---------- media screen ---------- */
@media screen and (max-width: 768px) {

/* -----     スタッフ＆キャストコンテンツ     ----- */
	.staffcast {
		display: -webkit-flex; display: flex;
		-webkit-flex-wrap: wrap; flex-wrap: wrap;
	}
	.staffContent, .castContent {
		width: 100%;
	}
	.staffcastList dt {
		padding: 30px 0 0;
		color: #b4832f;
		font-size: 14rem;
	}
	.staffcastList dd {
		font-size: 16rem;
	}

}

@media screen and (max-width: 320px) {}



